
.cards__row {
	margin-top: 12.5rem;
}

.cards__item-01 {
	max-width: 490px;
	max-height: 440px;
	margin: 0.5rem auto;
	transition: all .6s;
	
	&:hover {
		-webkit-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		cursor: pointer;

		.cards__heading {
			cursor: pointer;
			color: $purple;
		}
	}
}

.cards__item-02 {
	max-width: 490px;
	max-height: 440px;
	margin: 0.5rem auto;
	transition: all .6s;
	
	&:hover {
		-webkit-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		cursor: pointer;

		.cards__heading {
			cursor: pointer;
			color: $purple;
		}
	}
}

.cards__item-03 {
	max-width: 490px;
	max-height: 440px;
	margin: 0.5rem auto;
	transition: all .6s;
	
	&:hover {
		-webkit-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		box-shadow: 0px 17px 104px -30px rgba(0,0,0,0.25);
		cursor: pointer;

		.cards__heading {
			cursor: pointer;
			color: $purple;
		}


	}
}

.cards__bg-01 {
	height: 18.75rem;
	width: auto;
	background: url(../media/card__bg_01.png);
	background-size: cover;
}

.cards__bg-02 {
	height: 18.75rem;
	width: auto;
	background: url(../media/card__bg_02.png);
	background-size: cover;
}

.cards__bg-03 {
	height: 18.75rem;
	width: auto;
	background: url(../media/card__bg_02.png);
	background-size: cover;
}

.cards__heading {
	font-size: 1rem;
	font-family: 'Gotham Pro Bold';
	margin: 20px;
	text-transform: uppercase;
	height: 5rem;
	transition: all .3s;
}

.cards__views {
	margin: 15px;
	p {
		font-size: 0.75rem;
		font-family: 'Gotham Pro Bold';
	}
}

.tupa_ssilka {
	font-family: 'Gotham Pro Black';
	text-align: center;
	text-transform: uppercase;
	color: $purple;
	text-decoration: none;
	font-size: 1rem;
	margin-top: 6.25rem;
	margin-bottom: 6.25rem;

	&:link,
	&:hover {
		color: $orange;
		cursor: pointer;
		transition: all .3s ease-in;
		text-decoration: none;
	}
}
