
.greeting {
	text-align: center;
	margin-top: 12.5rem;
	margin-bottom: 12.5rem;

	&__text-primary {
		text-transform: uppercase;
		font-size: 3.75rem;
		font-family: 'Gotham Pro Black';
		background: -webkit-linear-gradient(30deg,$orange, $yellow, $yellow);
		  -webkit-background-clip: text;
		  -webkit-text-fill-color: transparent;

		  @media (max-width: 992px) {
		  	font-size: 2.5rem;
		  }
	}
	
	&__text-sub {
		margin-bottom: 5rem;
		margin-top: 5rem;
		p {
			font-family: 'Gotham Pro Regular';
			font-size: 1.5rem;
			text-decoration: none;
		}	
	}

	&__link a {
		font-family: 'Gotham Pro Black';
		text-align: center;
		text-transform: uppercase;
		color: $purple;
		text-decoration: none;
		font-size: 1rem;
		transition: all .3s ease-in;
	}

	&__link a:hover {
		color: $orange;
		cursor: pointer;
		text-decoration: none;
	}
}