#pricing {
	margin-top: 12.5rem;
	margin-bottom: 12.5rem;
}

.pricing-link {
	color: $violet;
	font-family: 'Gotham Pro Bold';
	text-decoration: none;

	&:hover {
		color: $orange;
		cursor: pointer;
		text-decoration: none;
	}
}
