/* fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:300,400,700&display=swap');

/* mini reset */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

a {
	text-decoration: none;
	color: #030303;
}

/* nav */

.topbar {
	display: flex;
	justify-content: space-between;
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	padding: 15px;
	vertical-align: middle;
}

.burger, .phone {
	display: inline-block;
}

.burger div {
 	width: 35px;
	height: 3px;
	background-color: #121212;
	margin: 6px 0;
}

.phone {
	display: flex;
	justify-content: flex-end;
}

.phone a {
	margin-left: 1rem;
	font-size: 20px;
}

.phone img {
	max-height: 20px;
	width: auto;
}

nav {
	display: flex;
	justify-content: center;
	background: #f9f9f9;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

nav a {
	margin: 1.5rem;
	font-size: 30px;
}

/* end nav*/


/* header */

header {
	height: 70vh;
	background: url('img/Layer-29.png');
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.heading_wrap h1 {
	font-size: 36px;
	max-width: 460px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}	

.heading_wrap img {
	margin-left: -75px;
}

.header_wrap {
	padding-top: 170px;
	display: flex;
	justify-content: center;
}

.header_wrap div img {
	margin-top: -35px;
}

/* end header */