
.h1-seo {
	font-size: 64px !important;
}

ul {
	padding: 0 0 0 20px; 
    margin: 0; 
    list-style: none;
}

.timer {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.timer span {
  display: block;
  font-size: 4.5rem;
}

@media (max-width: 960px) and (min-width: 501px) {
	.timer { font-size: 1em }
    .timer span { font-size: 1.5em; } /* Show 2 logos per row on medium devices (tablets, phones in landscape) */
}

@media (max-width: 500px) {
	.timer { font-size: 0.8em; }
    .timer span { font-size: 1.5em; } /* On small screens, show one logo per row */
}

.slider {
	margin: 0 auto;
	padding-top: 60px;
}

.name {
	color: #f75f34;
}

.rounded-circle {
	height: 200px;
}

.about {
	padding: 60px;
	background: #272626;
	color: white;
}

.title {
	text-align: center;
}

.float {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
	box-shadow: 0px 0px 15px #f75f34;
}

.callout-section {
    text-align: center;
    padding: 60px;
 }

 .row {
    justify-content: space-between;
}

.image-container {
    max-width: 95px;
    max-height: 95px;
    overflow: hidden;
    border-radius: 99px;
    margin: 15px auto;
}

.testimonials {
	background: #272626;
	color: #fff;
	padding: 60px;
}

.testimonials .carousel-indicators {
	bottom: -60px;
}

.signup {
	padding: 60px;
	text-align: center;
}

.mybtn {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #272626;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #272626;
  overflow: hidden;
  transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
  z-index: 1;
}
.mybtn.center {
  margin: 0 auto;
}
.mybtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f75f34;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  transition: -webkit-transform 300ms ease-out 200ms;
  transition: transform 300ms ease-out 200ms;
  transition: transform 300ms ease-out 200ms, -webkit-transform 300ms ease-out 200ms;
}
.mybtn:hover {
  cursor: pointer;
  color: #f75f34;
  border-color: #f75f34;
  box-shadow: 0 0 16px #f75f34;
}
.mybtn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.scrolldown {
	position: relative;
}

.scrolldown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
.scrolldown a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.scrolldown a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.scrolldown a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.appear {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.appear.fade-in {
    opacity: 1;
    transform: translateY(0);
}