@font-face {
	font-family:adlanta;
	src:url(fonts/adlanta.otf);
}
@font-face {
	font-family:engravers;
	src:url(fonts/engravers.ttf);
}
@font-face {
	font-family:Orange;
	src:url(fonts/Orange.ttf);
}
@font-face {
	font-family:palatino-linotype;
	src:url(fonts/palatino-linotype.ttf);
}

body {
	background-color: #e6e9e6;
	font-family: 'palatino-linotype', 'sans-serif';
	}

.header {
	position: relative;
	background-image: url("img/bg.png");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.navbar-toggler {
	
}

.navbar {
	background-color: #6a5a5b !important;
	text-decoration-color: 
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus 
.btn-success,
.btn-send{
    background-color: #ae7070 !important;
    border-color: #ae7070 !important;
}

.btn {
	font-family: 'engravers', 'sans-serif';
	font-size: 14pt;
 	color:black;
 	text-shadow: 
	margin-top: 20px;
	margin: 2px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 20px;
	box-shadow: -8px 4px #6d5c5d;
}

.aboutpic {
	box-shadow: -21px 17px #6d5c5d;
}

.aboutlogo {
	margin:25px;
	display: flex;
	justify-content: flex-end;
}

.about {
	font-size: 12pt;
}

.about{
	margin: 3em 0;
	padding: 1em;
	position: relative;
}


.desc {
	padding: 45px;
	margin-top: 5em;
}

.slider {
	width: 600px;
	margin: 0 auto;
	padding-top: 60px;
}

.carousel {
	box-shadow: -21px 17px #6d5c5d;
}

.carousel-inner {
height: 375px;
}

.slidertext {
	font-size: 12pt;
	text-align: center;
	width: 800px;
	margin: 0 auto;
	padding: 4em;
}

.contactus {
	text-align: center;
}

.content {
	font-size: 30px;
}


li {
	padding:5px;
}

a:link {
	text-decoration: none;
}

.social a {
	color: black;
}

footer {
	width: 100%;
	height: 130px;
	background-color: #6a5a5b;
}

.footer1 {
	margin: 40px;
}

.footer2{
	padding-top: 10px;
}

.footlinks a {
	font-size: 15px;
	text-decoration: underline;
	color: #ffff;
}

.footer3 {
	font-size: 12pt;
	text-decoration: underline;
	padding-top: 85px;
	text-align: right;
}

.btntxt {
	padding-top: 10px;
}

.widgets {
    display: flex;
    justify-content: space-around;
}