
/* CSS Reset */

html, body, div, span, applet, object, iframe, 
blockquote, pre, h1, h2, h3, h4, h5, h6,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* End CSS Reset */

/* General settings */
body {
    line-height: normal;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


button:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 18px 18px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 4px 18px 18px 0px rgba(0,0,0,0.19);
    box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.19);
    transition: .2s ease-out;
}

.container {
    display: grid;
}

.muted {
    color: #616983;
    font-size: 16px;
}
/* End General settings */

/* left side info */
.help {
    grid-column: 1 / 3 ;
    height: 100vh;
    background-image: -webkit-linear-gradient(top left, rgb(107, 168, 220), rgb(89, 81, 185));
    background-image: -o-linear-gradient(top left, rgb(107, 168, 220), rgb(89, 81, 185));
    background-image: linear-gradient(to bottom right, rgb(107, 168, 220), rgb(89, 81, 185));
}

.info {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 20;
}


.bg_curve1 {
    position: absolute;
    top: 10%;
    left: -185%;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: url(../img/3.svg) no-repeat 50% 100%;
    background-size: 100% auto;
}

.bg_curve2 {
    position: absolute;
    top: 0%;
    left: -135%;
    right: 0;
    bottom: 0;
    z-index: 4;
    background: url(../img/3.svg) no-repeat 50% 100%;
    background-size: 100% auto;
}

.bg_curve3 {
    position: absolute;
    top: 0;
    left: -75%;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: url(../img/3.svg) no-repeat 50% 100%;
    background-size: 100% auto;
}

.bg_curve4 {
    position: absolute;
    top: 0;
    left: -65%;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(../img/3.svg) no-repeat 50% 100%;
    background-size: 200% auto;
}


.bg_curve5 {
    position: absolute;
    top: 0;
    left: -10%;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url(../img/3.svg) no-repeat 50% 100%;
    background-size: 270% auto;
  }

.curved-side {
    position: relative;
    float:right;
    height: 100vh;
    margin: 0;
    padding:0;
    z-index: 11;

}

/* Buttons */
.hc {
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    background: #819bd6;
    border: none;
    outline: none;
    padding: 12px 21px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.hc a {
    text-decoration: none;
    color: #fff;
}

.btwn {
    display: inline-block;
}

.sup {
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    -moz-box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    box-shadow: 2px 2px 11px 0px rgba(0,0,0,0.19);
    background: #819bd6;
    border: none;
    outline: none;
    padding: 12px 21px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.sup a {
    text-decoration: none;
    color: #fff;
}
/*End Buttons*/

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 40px;
    background-image: url(https://i.onthe.io/smngoz770jt5frg3s.2a06585d.png);
    background-size: 165px;
    background-repeat: no-repeat;
    background-position: center;
    }
/* end left side info */

/* Right side login form */
.login {
    grid-column: 3;
    background-color: rgb(13, 22, 46);
    z-index: 10;
}

.form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.form a {
    text-decoration: none;
    color: #3a91e2;
}

.log-btn {
    margin-top: 34px;
    border-radius: 5px;
    background: -moz-linear-gradient(to right,#127ef9 0%,#54c3fe 100%);
    background: -webkit-linear-gradient(to right,#127ef9 0%,#54c3fe 100%);
    background: linear-gradient(to right,#127ef9 0%,#54c3fe 100%);
    border: none;
    outline: none;
    padding: 20px 123px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.log-btn:hover {
    cursor: pointer;
    -webkit-box-shadow: 4px 18px 18px 0px rgba(84, 195, 254,0.19);
    -moz-box-shadow: 4px 18px 18px 0px rgba(84, 195, 254,0.19);
    box-shadow: 4px 4px 18px 0px rgba(84, 195, 254,0.19);
    transition: .2s ease-out;
}

input[type="email"] {
    border: none;
    border-bottom: 1px solid #616983;
    background-color: transparent;
    padding: 20px 123px 20px 0px;
    font-size: 17px; 
    color: #fff;
    outline: none;
}

input[type="email"]:valid {
        border-bottom: 1px solid #0bbb33;

}

input[type="password"] {
    border: none;
    border-bottom: 1px solid #616983;
    background-color: transparent;
    padding: 20px 123px 20px 0px;
    font-size: 17px;
    color: #fff;
    outline: none;
}

input[type="password"]:valid {
    border-bottom: 1px solid #2487eb;
}

::placeholder {
    color: #616983;
    opacity: 1; /* Firefox */
}
