@font-face {
    font-family: MuseoSansCyrl300;
    src: url("../fonts/MuseoSansCyrl_300.ttf");
}

@font-face {
    font-family: MuseoSansCyrl900;
    src: url("../fonts/MuseoSansCyrl_900.ttf");
}

@font-face {
    font-family: Neucha;
    src: url("../fonts/Neucha.ttf");
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/ProximaNova-Bold.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Life+Savers:400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &.no_scroll {
        overflow: hidden;
    }
}

$proximaBold: ProximaNovaBold;
$MuseoSansLight: MuseoSansCyrl300;
$MuseoSansBlack: MuseoSansCyrl900;
$Neucha: Neucha;
$LifeSavers: 'Life Savers', cursive;

// COLORS

$pink: #eda1c1;
$darkGrey: #5b5b5f;
$red: #ff1f3b;
$green: #5fb33b;

// COMPONENTS 

.owl-carousel {
    .owl-dots {
        .owl-dot {
            &.active{
                span {
                    background-color: $pink;
                    border-color: $pink;
                }
            }

            span {
                width: 22px;
                height: 22px;
                border: 2px solid #d8d8d8;
                background-color: #fff;
            }
        }
    }

    .owl-nav {
        width: 100%;
        margin-top: 0;
        position: absolute;
            top: 50%;
        transform: translateY(-50%);
        
        .owl-prev,
        .owl-prev:hover {
            width: 35px;
            height: 67px;
            background-color: transparent;
            color: transparent;
            position: absolute;
                left: -15px ;
            background-image: url("../img/left_arrow_active.png");
            background-position: center;
            background-repeat: no-repeat;

            &.disabled {
                background-image: url("../img/left_arrow.png");
                opacity: 1;
            }
        }

        .owl-next,
        .owl-next:hover {
            width: 35px;
            height: 67px;
            background-color: transparent;
            color: transparent;
            position: absolute;
                right: 75px;
            background-image: url("../img/right_arrow_active.png");
            background-position: center;
            background-repeat: no-repeat;

            &.disabled {
                background-image: url("../img/right_arrow.png");
                opacity: 1;
            }
        }
    }
}

// MIXINS

@mixin button($width, $height, $bcg, $color, $ff, $fs) {
    width: $width;
    height: $height;
    background-color: $bcg;
    color: $color;
    font-family: $ff;
    font-size: $fs;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        background-color: $color;
        color: $bcg;
    }
}

/////////

header {
    height: 80vh;
    width: 288px;
    padding-top: 52px;
    background-color: transparent;
    position: fixed;
        top: 0px;
        left: 0px;
    z-index: 100;

    .logo {
        margin-left: 88px;
        margin-bottom: 70px;
    }

    .menu {
        text-align: center;
        ul {
            padding: 0;
            padding-left: 43px;
            margin: 0;
            list-style: none;

            li {
                width: 160px;
                height: 62px;
                margin-bottom: 27px;
                background-position: center;
                background-repeat: no-repeat;
                text-align: left;
                font-size: 16px;
                font-family: $MuseoSansLight;
                position: relative;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
                
                &.active-main {
                    background-image: url("../img/main-blot.svg");

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                &.active-product {
                    background-image: url("../img/product-blot.svg");

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                &.active-about {
                    background-image: url("../img/about-us-blot.svg");

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                &.active-contacts {
                    background-image: url("../img/contact-blot.svg");

                    a {
                        &:hover {
                            color: black;
                        }
                    }
                }

                a {
                    color: #000;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: absolute;
                        top: 45%;
                        left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.4s;

                    &:hover {
                        color: $pink;
                    }
                }
            }
        }
    }
}

.mobile_menu {
    display: none;
}


.content {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.wrapper {
    width: calc(100% - 288px);
}

.mainBanner {
    height: 752px;
    background-image: url("../img/main_banner.jpg");
    background-size: contain;
    background-position: 91px center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 50px;
    margin-bottom: 205px;

    .banner_text {
        position: absolute;
            top: 265px;
            left: 383px;

        .name {
            font-size: 125px;
            font-family: $MuseoSansBlack;
            line-height: normal;
            margin: 0;
            margin-bottom: 8px;
            color: white;
            text-transform: uppercase;
        }

        .slogan {
            font-size: 30px;
            font-family: $MuseoSansLight;
            line-height: normal;
            color: #fff;
            margin: 0;
            margin-left: 198px;
        }
    }

    .arrow {
        width: 80px;
        height: 100px;
        cursor: pointer;
        position: absolute;
            bottom: 30px;
            left: 40%;

        .f_arrow,
        .s_arrow,
        .t_arrow {
            width: 40px;
            height: 40px;
            transform: rotate(-45deg);
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            margin: 0 auto;
        }

        .f_arrow {
            border-left-width: 1px;
            border-bottom-width: 1px;
        }

        .s_arrow {
            border-left-width: 2px;
            border-bottom-width: 2px;
            position: relative;
                top: -20px;
        }

        .t_arrow {
            border-left-width: 4px;
            border-bottom-width: 4px;
            position: relative;
                top: -40px;
        }
    }
}

.home_slider {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 65px;
    position: relative;      

    .owl-carousel {
        .item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin: 0 auto;

            img {
                max-width: 600px;
            }

            .short_descr {
                width: 630px;
                margin-right: 23px;
                
                .text {
                    font-size: 18px;
                    font-family: $MuseoSansLight;
                    margin: 0;
                    color: #000;
                    margin-bottom: 60px;
                    line-height: 30px;
                    letter-spacing: 3px;
                }

                .buy_one_click {
                    @include button(360px, 75px, $pink, #fff, $MuseoSansBlack, 18px);
                    border: 2px solid $pink;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.girl_quote {
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    position: relative;

    .image {
        text-align: center;
        font-family: $LifeSavers;
        font-size: 36px;
        font-weight: 700;
        margin-top: 45px;

        a {
            color: #000;
            text-decoration: none;

            p {
                margin-top: 8px;
                margin-bottom: 20px;
            }
        }
    }

    .quote {
        margin-top: 105px;
        margin-left: 30px;
        max-width: 960px;
        font-family: $Neucha;
        letter-spacing: 1px;

        .first_paragraph {
            font-size: 23px;
            line-height: 30px;
            margin-bottom: 60px;
            height: 165px;
            background-image: url(../img/quote_bg_1.png);
            background-repeat: no-repeat;
            background-position: left;
            padding-top: 45px;
            padding-left: 110px;
            box-sizing: border-box;

            span {
                font-size: 30px;
                color: $pink;
            }
        }

        .second_paragraph {
            padding-left: 72px;
            font-size: 18px;
            margin: 0;
            line-height: 30px;
            transform: rotate(-2deg);

            span {
                color: $pink;
            }
        }

        .line {
            height: 40px;
            margin-top: 30px;
            margin-bottom: 10px;
            background-image: url("../img/quote_bg_2.png");
            background-repeat: no-repeat;
        }

        .third_paragraph {
            padding-left: 72px;
            p {
                font-size: 18px;
                line-height: 30px;

                span {
                    color: $pink; 
                }
            }

            p:first-child {
                margin-bottom: 25px;
                transform: rotate(2deg);
            }

            p:nth-child(2) {
                transform: rotate(2deg);
            }

            p:last-child {
                font-size: 24px;
                margin-top: 25px;
                margin-bottom: 40px;
            }
        }
    }
}

.product_wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;

    .product_block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        &.odd-product {
            flex-direction: row;

            .description {
                .buy_one_click {
                    @include button(360px, 75px, $red, #fff, $MuseoSansBlack, 18px);
                }
            }
        }

        &.even-product {
            flex-direction: row-reverse;

            .description {
                .buy_one_click { 
                    @include button(360px, 75px, $green, #fff, $MuseoSansBlack, 18px);
                }
            }
        }
        
        img {
            max-width: 700px;
        }
    
        .description {
            width: 50%;
            padding-top: 50px;
            font-size: 18px;
            line-height: 30px;
    
            .name {
                font-family: $MuseoSansBlack;
            }
    
            .text{
                font-family: $MuseoSansLight;
            }

            .buy_one_click {
                border: 2px solid;
                text-transform: uppercase;
                margin-top: 30px;
            }
        }
    }
}

.find_more {
    text-align: center;
    font-size: 60px;
    color: $pink;
    font-family: $Neucha;
    line-height: normal;
    margin-top: 50px;

    p,
    img {
        margin: 0;
        cursor: pointer;
    }
}

.advantages {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-bottom: 75px;

    .block_name {
        width: 100%;
        font-size: 72px;
        font-family: $Neucha;
        color: $pink;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .advantage {
        width: 325px;
        font-size: 30px;
        text-align: center;
        color: #757578;
        font-family: $Neucha;
        text-transform: uppercase;
        margin: 0px 45px;

        img {
            margin-bottom: 23px;
        }

        p {
            margin: 0;
        }
    }
}

.about_us_slider,
.contacts_slider {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 95px;
    position: relative;

    .owl-carousel {
        .item {
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                max-width: 580px;
            }

            .description {
                width: 560px;
                
                .text {
                    font-size: 18px;
                    font-family: $Neucha;
                    margin: 0;
                    color: #000;
                    margin-bottom: 60px;
                    line-height: 30px;
                }

                .name {
                    font-size: 18px;
                    font-family: $MuseoSansBlack;
                    margin: 0;
                    color: #000;
                    line-height: 30px;
                }

                .buy_one_click {
                    width: 360px;
                    height: 75px;
                    border: 2px solid $pink;
                    background-color: $pink;
                    text-transform: uppercase;
                    font-size: 18px;
                    font-family: $MuseoSansBlack;
                    color: white;
                    cursor: pointer;
                    outline: none;
                    transition: all 0.4s;

                    &:hover {
                        background-color: #fff;
                        color: $pink;
                    }

                }
            }
        }

        .owl-nav {
            .owl-prev {
                left: -70px;
            }
        }
    }
}

.about_us {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .xgirl_is {
        width: 520px;
        font-size: 160px;
        color: $pink;
        font-family: $Neucha;
        margin-right: 60px;

        img {
            margin-left: 140px;
        }
    }

    .description {
        width: 660px;
        padding-top: 30px;

        p {
            margin: 0;
            font-size: 18px;
            font-family: $MuseoSansLight;
            letter-spacing: 1px;
            margin-bottom: 32px;
            line-height: 30px;

            span {
                color: $pink;
                font-family: $MuseoSansBlack;
            }

            &.heading {
                font-family: $MuseoSansBlack;
                font-size: 24px;
                letter-spacing: 2px;
                margin-bottom: 25px;
            }
        }
    }
}

.contacts {
    position: relative;

    .contacts_block {
        width: 530px;
        padding: 40px 63px 40px 63px;
        border: 6px solid #e1e1e1;
        background-color: #fff;
        border-radius: 30px;
        box-sizing: border-box;
        position: absolute;
            top: 150px;
            right: 50px;

        .name {
            font-size: 48px;
            color: $pink;
            font-family: $Neucha;
            margin: 0;
            margin-bottom: 25px;
        }

        .market_adresses {
            padding: 0;
            margin: 0;
            list-style: none;
            padding-left: 62px;

            li {
                position: relative;
                box-sizing: border-box;
                margin-bottom: 25px;
    
                .point {
                    display: block;
                    width: 45px;
                    height: 45px;
                    padding-top: 7px;
                    background-image: url("../img/contact_point.png");
                    background-position: center center;
                    background-repeat: no-repeat;
                    font-size: 26px;
                    color: $pink;
                    font-family: $Neucha;
                    text-align: center;
                    box-sizing: border-box;
                    position: absolute;
                        top: 50%;
                        left: -62px;
                    transform: translateY(-50%);
                    cursor: pointer;

                    &.active {
                        background-image: url("../img/contact_point_active.png");
                        color: #fff;
                    }
                }

                p {
                    margin: 0;
                    font-size: 18px;
                    font-family: $MuseoSansLight;
                    margin-bottom: 5px;

                    .city {
                        font-size: 24px;
                        font-family: $MuseoSansBlack;
                    }

                    .tel {
                        color: $pink;
                        font-family: $MuseoSansBlack;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }

        .callback_btn {
            @include button(360px, 75px, $pink, #ffffff, $MuseoSansBlack, 18px);
            border: none;
            text-transform: uppercase;

            &:hover {
                background-color: #000;
                color: white;
            }
        }
    }
}

.callback_form {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
        top: 0px;
        left: 0px;
    z-index: 10000;

    &.notactive {
        display: none;
    }

    form {
        width: 556px;
        background-color: #fff;
        border-radius: 50px;
        padding: 40px 62px;
        position: absolute;
            top: 50%;
            left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;

        .form_name {
            font-size: 48px;
            font-family: $Neucha;
            color: $pink;
            margin: 0;
            margin-bottom: 25px;
        }

        .form_comment {
            font-size: 16px;
            font-family: $MuseoSansLight;
            margin: 0;
            text-align: center;
        }

        .close {
            width: 40px;
            height: 46px;
            background-image: url("../img/close.png");
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
                top: 23px;
                right: 30px;
            cursor: pointer;

            &:hover {
                background-image: url("../img/close_hov.png");
            }
        }

        label {
            display: block;
            margin-bottom: 25px;

            span {
                display: block;
                margin-bottom: 5px;
                font-size: 16px;
                color: #000;
                font-family: $MuseoSansBlack;
                letter-spacing: 1px;
            }

            input,
            textarea {
                width: 100%;
                border: 1px solid $pink;
                border-radius: 10px;
                padding: 14px 10px;
                font-size: 18px;
                font-family: $MuseoSansLight;
                color: $pink;
                box-sizing: border-box;
                outline: none;

                &::-webkit-input-placeholder {color:$pink}
                &::-moz-placeholder          {color:$pink}/* Firefox 19+ */
                &:-moz-placeholder           {color:$pink}/* Firefox 18- */
                &:-ms-input-placeholder      {color:$pink}
            }
            
            textarea {
                resize: none;
                height: 125px;
            }
        }

        button {
            display: block;
            margin: 0 auto;
            @include button(308px, 65px, $pink, white, $MuseoSansBlack, 16px);
            border: none;
            margin-bottom: 15px;

            &:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }
}

.contacts_slider {
    margin-bottom: 0;
}

.maps {
    position: relative;
    top: 110px;

    &.notactive {
        display: none;
    }

    iframe {
        width: 100%;
        height: 820px;
    }
}

footer {
    padding-bottom: 40px; 
    padding-top: 142px;
    position: relative;

    .foot_bg {
        width: 100%;
        height: 113px;
        background-image: url("../img/footer_bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
            top: 5px;
    }

    .footer_content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 288px;

        .logo_block {
            display: flex;
            justify-content: space-between;

            .short_description {
                max-width: 300px;
                margin-left: 60px;
                padding-top: 45px;

                p {
                    font-size: 14px;
                    font-family: $MuseoSansLight;
                    line-height: 30px;
                    margin: 0;

                    span {
                        font-family: $MuseoSansBlack;
                        color: $pink;
                    }
                }
            }
        }

        .follow_us {
            display: flex;
            justify-content: space-between;

            .follow_arrow {
                font-size: 125px;
                font-family: $Neucha;
                color: $darkGrey;
                line-height: normal;
                margin-right: 100px;
                position: relative;

                img {
                    position: absolute; 
                        top: -38px;
                        right: -139px;
                }
            }

            .insta_logo {
                display: block;
                margin-top: 30px;
            }
        }
    }
}

.small_page_images {
    z-index: -1;
    transition: all 1.5s;
}

.main_small_image_1 {
    position: absolute;
        top: -80px;
        left: -10px;
}

.main_small_image_2 {
    position: absolute;
        top: -20px;
        right: 40px;
}

.main_small_image_3 {
    position: absolute;
        bottom: -20px;
        left: 10px;
}

.main_small_image_4 {
    position: absolute;
        top: 160px;
        right: 160px;
}

.main_small_image_5 {
    position: absolute;
        bottom: 100px;
        right: 160px;
}

.main_small_image_6 {
    position: absolute;
        bottom: 100px;
        left: 40px;
}

.product_small_1 {
    position: absolute;
        top: 30px;
        right: -10px;
}

.product_small_2 {
    position: absolute;
        bottom: 100px;
        right: -10px;
}

.contacts_small_1 {
    position: absolute; 
        top: 30px;
        right: -30px;
}

.contacts_small_2 {
    position: absolute; 
        bottom: 30px;
        right: 30px;
}


@media(min-width: 1367px) and (max-width: 1440px) {
    .mainBanner {
        background-size: cover;
        height: 600px;
    }

    .home_slider .owl-carousel .item img {
        max-width: 460px;
    }

    footer .footer_content .follow_us .follow_arrow {
        font-size: 105px;
    }

    .about_us_slider .owl-carousel .item img, .contacts_slider .owl-carousel .item img {
        max-width: 450px;
    }

    .contacts .contacts_block {
        width: 470px;
        padding: 40px 25px 40px 45px;
        right: 20px;
    }

    footer .foot_bg {
        top: 25px;
    }
}

@media(min-width: 1200px) and (max-width: 1366px) {
    header {
        height: 100vh;
        padding-top: 10px;
    }

    header .menu ul li {
        margin-bottom: 7px;
    }

    header .logo {
        margin-left: 68px;
        margin-bottom: 45px;
    }

    .mainBanner {
        height: 460px;
        background-size: cover;
        margin-bottom: 75px;
    }

  

    .home_slider .owl-carousel .item img {
        max-width: 400px;
    }

    .home_slider .owl-carousel .item .short_descr {
        width: 490px;
        margin-right: 0px;
    }

    .home_slider .owl-carousel .item .short_descr .text {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 22px;
        letter-spacing: 1px;
    }
    
    .home_slider .owl-carousel .item .short_descr .buy_one_click {
        width: 290px;
        height: 60px;
        font-size: 15px;
    }

    .girl_quote .image .girl_qoute_img {
        width: 300px;
    }

    footer .footer_content .follow_us .follow_arrow {
        font-size: 90px;
    }

    footer .footer_content .follow_us .insta_logo img {
        width: 120px;
    } 

    footer .footer_content .logo_block .logo img {
        width: 80px;
    }

    footer .footer_content .logo_block .short_description {
        padding-top: 0px;
    }

    .product_wrapper .product_block img {
        max-width: 500px;
        max-height: 300px;
    }

    .product_wrapper .product_block .description {
        width: 50%;
        font-size: 16px;
        padding-top: 0;
    }

    .product_wrapper .product_block {
        margin-bottom: 50px;
    }

    .about_us_slider .owl-carousel .item img, .contacts_slider .owl-carousel .item img {
        max-width: 440px;
    }

    .about_us_slider .owl-carousel .item .description, .contacts_slider .owl-carousel .item .description {
        width: 420px;
    }

    .about_us_slider .owl-carousel .item .description .name, .contacts_slider .owl-carousel .item .description .name {
        font-size: 16px;
    }

    .about_us_slider .owl-carousel .item .description .text, .contacts_slider .owl-carousel .item .description .text {
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 22px;
    }

    .about_us_slider .owl-carousel .item .description .buy_one_click, .contacts_slider .owl-carousel .item .description .buy_one_click {
        width: 270px;
        height: 60px;
        font-size: 15px;
    }

    .about_us .xgirl_is {
        width: 480px;
        font-size: 125px;
    }

    .about_us .description p.heading {
        font-size: 18px;
    }

    .about_us .description p {
        font-size: 14px;
        line-height: 25px;
    }

    .advantages .advantage {
        width: 280px;
        margin: 0px 20px;
    }

    .maps {
        position: relative;
        top: 0px;
    }

    .maps iframe {
        width: 100%;
        height: 580px;
    }

    .contacts .contacts_block {
        width: 400px;
        padding: 20px 20px 40px 40px;
        position: absolute;
        top: 0px;
        right: AUTO;
    }

    .contacts .contacts_block .name {
        font-size: 35px;
        color: #eda1c1;
        font-family: Neucha;
        margin: 0;
        margin-bottom: 15px;
    }

    .contacts .contacts_block .callback_btn {
        width: 90%;
        height: 65px;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .small_page_images {
        display: none;
    }

    .owl-carousel {
        .owl-dots {
            margin-top: 25px;

            .owl-dot {
                span {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    
        .owl-nav {
            width: 100%;
            margin-top: 0;
            position: absolute;
                top: 40%;
            transform: translateY(-50%);
            
            .owl-prev,
            .owl-prev:hover {
                width: 20px;
                height: 40px;
                background-size: contain;
                position: absolute;
                    left: 0px;
            }
    
            .owl-next,
            .owl-next:hover {
                width: 20px;
                height: 40px;
                background-size: contain;
                position: absolute;
                    right: 0px;
            }
        }
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 80px;
        padding: 10px 15px;
        box-sizing: border-box;
        background-color: #fff;

        .logo {
            margin: 0;
            z-index: 1000;

            a {
                img {
                    width: 30px;
                }
            }
        }

        .menu {
            display: none;
        }

        .burger_btn {
            display: block;
            width: 28px;
            height: 20px;
            margin-top: -10px;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;
                margin-bottom: 7px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .mobile_menu {
        display: block;
        width: 100%;
        height: 540px;
        background-color: #fff;
        z-index: 100;
        position: absolute;
            top: -540px;
            left: 0px;
        box-sizing: border-box;
        transition: all 1s;

        &.active {
            top: 0px;
        }

        .top_line {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 10px;
            box-sizing: border-box;

            .logo {
                a {
                    img {
                        width: 30px;
                    }
                }
            }

            .close {
                width: 22px;
                height: 22px;
                position: relative;
                margin-top: -15px;

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                        top: 50%;
                        left: 0px;
                    transform: translateY(-50%);

                    &:first-child {
                        transform: rotate(-45deg)
                    }

                    &:last-child {
                        transform: rotate(45deg)  
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: calc(100%  - 80px);
            padding: 0;
            margin: 0;
            list-style: none;
            background-image: url("../img/mob_menu_bg.png");
            background-position: right top;
            background-repeat: no-repeat;
            text-align: center;

            li {
                width: 155px;
                display: inline-block;
                text-align: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 15px 0px;
                margin-bottom: 30px;

                &.active-main {
                    background-image: url("../img/main-blot.svg");
                }

                &.active-product {
                    background-image: url("../img/product-blot.svg");
                }

                &.active-about {
                    background-image: url("../img/about-us-blot.svg");
                }

                &.active-contacts {
                    background-image: url("../img/contact-blot.svg");
                }

                a {
                    font-size: 16px;
                    font-family: $MuseoSansLight;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .content {
        justify-content: flex-start;
        padding-top: 80px; 
    }

    .wrapper {
        width: 100%;
    }

    .mainBanner {
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: 20px;

        .banner_text {
            position: absolute;
                top: 50%;
                left: 130px;
            transform: translateY(-50%);

            .name {
                font-size: 100px;
            }

            .slogan {
                font-size: 24px;
                margin-left: 150px;
            }
        }

        .arrow {
            width: 40px;
            height: 55px;
            position: absolute;
            bottom: 8px;
            left: 40%;

            .f_arrow,
            .s_arrow,
            .t_arrow {
                width: 20px;
                height: 20px;
            }

            .s_arrow {
                top: -10px;
            }

            .t_arrow {
                top: -20px;
            }
        }
    }

    .home_slider {
        .owl-carousel {
            .item {
                justify-content: space-between;

                img {
                    max-width: 400px;
                }

                .short_descr {
                    width: 470px;
                    margin-right: 0;
                }
            }
        }
    }

    .product_wrapper .product_block img {
        max-width: 500px;
        max-height: 340px;
    }

    .product_wrapper .product_block .description {
        padding-top: 0px;
    }

    .maps {
        position: relative;
        top: 80px;
    }

    .about_us_slider .owl-carousel .item img, .contacts_slider .owl-carousel .item img {
        max-width: 480px;
    }

    .about_us_slider .owl-carousel .item .description, .contacts_slider .owl-carousel .item .description {
        width: 360px;
    }

    .about_us_slider .owl-carousel .owl-nav .owl-prev, 
    .contacts_slider .owl-carousel .owl-nav .owl-prev {
        left: -40px;
    }

    .about_us_slider .owl-carousel .owl-nav .owl-next, 
    .contacts_slider .owl-carousel .owl-nav .owl-next {
        right: -40px;
    }
    
    footer {
        .footer_content {
            padding-left: 0;

            .logo_block {
                .logo {
                    a {
                        img {
                            width: 100px;
                        }
                    }
                }

                .short_description {
                    max-width: 270px;
                    margin-left: 60px;
                    padding-top: 45px;
                }
            }
            
            .follow_us {
                .follow_arrow {
                    font-size: 90px;

                    img {
                        position: absolute;
                        top: -58px;
                        right: -155px;
                    }
                }
            }
        }
    }
} 

@media (max-width: 768px) {
    .small_page_images {
        display: none;
    }
    
    .owl-carousel {
        .owl-dots {
            margin-top: 25px;

            .owl-dot {
                span {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    
        .owl-nav {
            width: 100%;
            margin-top: 0;
            position: absolute;
                top: 40%;
            transform: translateY(-50%);
            
            .owl-prev,
            .owl-prev:hover {
                width: 20px;
                height: 40px;
                background-size: contain;
                position: absolute;
                    left: -30px;
            }
    
            .owl-next,
            .owl-next:hover {
                width: 20px;
                height: 40px;
                background-size: contain;
                position: absolute;
                    right: -30px;
            }
        }
    }
    
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        height: 80px;
        padding: 10px 15px;
        box-sizing: border-box;
        background-color: #fff;

        .logo {
            margin: 0;
            z-index: 1000;

            a {
                img {
                    width: 30px;
                }
            }
        }

        .menu {
            display: none;
        }

        .burger_btn {
            display: block;
            width: 28px;
            height: 20px;
            margin-top: -10px;

            span {
                display: block;
                width: 100%;
                height: 2px;
                background-color: #000;
                margin-bottom: 7px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .mobile_menu {
        display: block;
        width: 100%;
        height: 480px;
        background-color: #fff;
        z-index: 100;
        position: absolute;
            top: -480px;
            left: 0px;
        box-sizing: border-box;
        transition: all 1s;

        &.active {
            top: 0px;
        }

        .top_line {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 10px;
            box-sizing: border-box;

            .logo {
                a {
                    img {
                        width: 30px;
                    }
                }
            }

            .close {
                width: 22px;
                height: 22px;
                position: relative;
                margin-top: -15px;

                span {
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: #000;
                    position: absolute;
                        top: 50%;
                        left: 0px;
                    transform: translateY(-50%);

                    &:first-child {
                        transform: rotate(-45deg)
                    }

                    &:last-child {
                        transform: rotate(45deg)  
                    }
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: calc(100%  - 80px);
            padding: 0;
            margin: 0;
            list-style: none;
            background-image: url("../img/mob_menu_bg.png");
            background-position: right top;
            background-repeat: no-repeat;
            text-align: center;

            li {
                width: 155px;
                display: inline-block;
                text-align: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 15px 0px;
                margin-bottom: 30px;

                &.active-main {
                    background-image: url("../img/main-blot.svg");
                }

                &.active-product {
                    background-image: url("../img/product-blot.svg");
                }

                &.active-about {
                    background-image: url("../img/about-us-blot.svg");
                }

                &.active-contacts {
                    background-image: url("../img/contact-blot.svg");
                }

                a {
                    font-size: 16px;
                    font-family: $MuseoSansLight;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    
    .content {
        justify-content: flex-start;
        padding-top: 80px; 
    }

    .wrapper {
        width: 100%;
    }

    .mainBanner {
        height: 290px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: 20px;

        .banner_text {
            position: absolute;
                top: 50%;
                left: 10px;
            transform: translateY(-50%);

            .name {
                font-size: 48px;
            }

            .slogan {
                font-size: 18px;
                margin-left: 72px;
            }
        }

        .arrow {
            width: 40px;
            height: 55px;
            position: absolute;
            bottom: 8px;
            left: 40%;

            .f_arrow,
            .s_arrow,
            .t_arrow {
                width: 20px;
                height: 20px;
            }

            .s_arrow {
                top: -10px;
            }

            .t_arrow {
                top: -20px;
            }
        }
    }

    .home_slider {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 65px;      
    
        .owl-carousel {
            .item {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                width: 90%;
                margin: 0 auto;
    
                img {
                    max-width: 100%;
                }
    
                .short_descr {
                    width: 90%;
                    margin-right: 0px;
                    margin: 0 auto;
                    
                    .text {
                        font-size: 14px;
                        font-family: $MuseoSansLight;
                        margin: 0;
                        color: #000;
                        margin-bottom: 10px;
                        line-height: 20px;
                        letter-spacing: 3px;
                    }
    
                    .buy_one_click {
                        @include button(100%, 75px, $pink, #fff, $MuseoSansBlack, 18px);
                        border: 2px solid $pink;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .girl_quote {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
    
        .image {
            width: 100%;
            font-size: 24px;
            margin-top: 0px;

            img {
                max-width: 220px;
            }
        }
    
        .quote {
            margin-top: 25px;
            margin-left: 0px;
            max-width: 100%;
    
            .first_paragraph {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 20px;
                height: 200px;
                background-image: url(../img/quote_bg_1_mob.png);
                background-repeat: no-repeat;
                background-position: -45px;
                padding-top: 45px;
                padding-left: 45px;
                box-sizing: border-box;
    
                span {
                    font-size: 30px;
                    color: $pink;
                }
            }
    
            .second_paragraph {
                padding-left: 20px;
                transform: rotate(0deg);
            }
    
            .line {
                height: 30px;
                margin-top: 20px;
                margin-bottom: 0px;
            }
    
            .third_paragraph {
                padding-left: 20px;

                p:first-child {
                    transform: rotate(0deg);
                }

                p:nth-child(2) {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .product_wrapper {
        width: 100%;
        margin-top: 20px;
    
        .product_block {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 25px;
    
            &.odd-product {
                flex-direction: row;
    
                .description {
                    .buy_one_click {
                        display: block;
                        margin: 0 auto;
                        @include button(90%, 75px, $red, #fff, $MuseoSansBlack, 18px);
                        
                    }
                }
            }
    
            &.even-product {
                flex-direction: row-reverse;
    
                .description {
                    .buy_one_click {
                        display: block;
                        margin: 0 auto; 
                        @include button(90%, 75px, $green, #fff, $MuseoSansBlack, 18px);
                    }
                }
            }
            
            img {
                display: block;
                margin: 0 auto;
                max-width: 320px;
                max-height: 230px;
            }
        
            .description {
                width: 90%;
                margin: 0 auto;
            }
        }
    }

    .about_us {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    
        .xgirl_is {
            width: 100%;
            font-size: 72px;
            margin-right: 0px;
            text-align: center;
    
            img {
                display: none;
            }
        }
    
        .description {
            width: 100%;
            padding-top: 30px;
            padding-left: 15px;
            padding-right: 15px;

            p {
                font-size: 14px;
                line-height: 20px;
    
                &.heading {
                    font-family: $MuseoSansBlack;
                    font-size: 24px;
                    letter-spacing: 2px;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .advantages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-bottom: 75px;
    
        .block_name {
            width: 100%;
            font-size: 32px;
            font-family: $Neucha;
            color: $pink;
            margin: 0;
            margin-bottom: 20px;
            text-align: center;
        }
    
        .advantage {
            width: 100%;
            font-size: 30px;
            text-align: center;
            color: #757578;
            font-family: $Neucha;
            text-transform: uppercase;
            margin: 0px;
            margin-bottom: 40px;

    
            img {
                margin-bottom: 23px;
            }
    
            p {
                margin: 0;
            }
        }
    }

    .about_us_slider,
    .contacts_slider {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 95px;

        .owl-carousel {
            .item {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column-reverse;

                img {
                    max-width: 100%;
                }

                .description {
                    width: 100%;
                    
                    .text {
                        font-size: 14px;
                        margin-bottom: 10px;
                        line-height: 20px;
                    }

                    .name {
                        font-size: 14px;
                        line-height: 20px;
                    }

                    .buy_one_click {
                        width: 100%;
                        height: 65px;
                        border: 2px solid $pink;
                        background-color: $pink;
                        text-transform: uppercase;
                        font-size: 18px;
                        font-family: $MuseoSansBlack;
                        color: white;
                        cursor: pointer;
                        outline: none;
                        transition: all 0.4s;

                        &:hover {
                            background-color: #fff;
                            color: $pink;
                        }

                    }
                }
            }

            .owl-nav {
                .owl-prev {
                    left: -40px;
                }
            }
        }
    }

    .contacts {
        position: relative;
    
        .contacts_block {
            width: 100%;
            padding: 20px 15px 60px 15px;
            border-right: none;
            border-left: none;
            border-bottom: none;
            border-radius: 0px;
            position: relative;
                top: 0px;
                right: 0px;
    
            .name {
                font-size: 30px;
                margin-bottom: 15px;
            }
    
            .market_adresses {
                padding: 0;
                margin: 0;
                list-style: none;
                padding-left: 62px;
    
                li {
                    position: relative;
                    box-sizing: border-box;
                    margin-bottom: 25px;
    
                    .point {
                        padding-top: 12px;
                        font-size: 20px;
                    }
    
                    p {
                        font-size: 14px;
                        margin-bottom: 5px;
    
                        .city {
                            font-size: 16px;
                        }
                    }
                }
            }
    
            .callback_btn {
                @include button(90%, 65px, $pink, #ffffff, $MuseoSansBlack, 18px);
                border: none;
                text-transform: uppercase;
                display: block;
                margin: 0 auto; 
            }
        }
    }
    
    .callback_form {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0, 0.7);
        position: fixed;
            top: 0px;
            left: 0px;
        z-index: 10000;
    
        &.notactive {
            display: none;
        }
    
        form {
            width: 100%;
            background-color: #fff;
            border-radius: 30px;
            padding: 20px 15px;
            position: absolute;
                top: 50%;
                left: 50%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
    
            .form_name {
                font-size: 30px;
                font-family: $Neucha;
                color: $pink;
                margin: 0;
                margin-bottom: 25px;
            }
    
            .form_comment {
                font-size: 16px;
                font-family: $MuseoSansLight;
                margin: 0;
                text-align: center;
            }
    
            .close {
                width: 30px;
                height: 36px;
                background-size: cover;
                position: absolute;
                    top: 23px;
                    right: 30px;
            }
    
            label {
                display: block;
                margin-bottom: 25px;
    
                span {
                    display: block;
                    margin-bottom: 5px;
                    font-size: 16px;
                    color: #000;
                    font-family: $MuseoSansBlack;
                    letter-spacing: 1px;
                }
    
                input,
                textarea {
                    width: 100%;
                    border: 1px solid $pink;
                    border-radius: 10px;
                    padding: 8px 10px;
                    font-size: 16px;
                }
                
                textarea {
                    resize: none;
                    height: 125px;
                }
            }
    
            button {
                display: block;
                margin: 0 auto;
                @include button(308px, 55px, $pink, white, $MuseoSansBlack, 16px);
                border: none;
                margin-bottom: 15px;
    
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .maps {
        iframe {
            height: 245px;
        }
        top: 0px
    }

    footer {
        padding-bottom: 25px; 
        padding-top: 65px;
        position: relative;
    
        .foot_bg {
            height: 65px;
            background-image: url("../img/footer_bg_mob.png");
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
                top: 0px;
        }
    
        .footer_content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            padding-left: 0px;
    
            .logo_block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 13px;
                margin-top: 20px;

                .logo {
                    img {
                        width: 80px;
                    }
                }
    
                .short_description {
                    max-width: calc(100% - 105px);
                    margin-left: 0px;
                    padding-top: 0px;
                }
            }
    
            .follow_us {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 63px;
    
                .follow_arrow {
                    font-size: 60px;
                    margin-right: 50px;
                    height: 60px;
    
                    img {
                        width: 119px;
                        position: absolute; 
                            top: -44px;
                            right: -78px;
                    }
                }
    
                .insta_logo {
                    img {
                        width: 65px;
                    }
                    margin-top: 0px;
                }
            }
        }
    }
}


@media (min-width: 600px) and (max-width: 768px) {
    .mainBanner {
        height: 430px;
    }

    .maps {
        iframe {
            height: 360px;
        }
    }
} 