@font-face {
  font-family:Futura Light;
  src:url(fonts/futuralight.ttf);
}

@font-face {
  font-family:Futura Bold;
  src:url(fonts/futurabold.ttf);
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  font-family: 'Futura Light', sans-serif;
}


body {
  background: #0B0C10;
  color: #C5C6C7;
}

 /* Header */

header {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url(img/meBetter.png) no-repeat;
  background-position: bottom left 10%;
 }



.wrapper {
    width: 90%;
    margin: 0 5%;
}

.highlight {
  color: #66FCF1;
}

/* home button animation*/

.links a:hover {
  color: #66FCF1;
  transition: .5s;
  cursor: pointer;
}

/* Button 'EXPLORE' */

.myBtn {
  position: relative;
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #C5C6C7;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.myBtn a {
  text-decoration: none;
  color: #66FCF1;
  transition: 0.2s;
}

.myBtn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.myBtn svg rect {
  fill: none;
  stroke: #66FCF1;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.myBtn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.myBtn:hover {
  color: #C5C6C7;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #66FCF1;
}

/* About */

.info {
  margin-top: 30%;
  margin-left: 5%;
}

/* Projects */

#slide02, #slide04 {
  background-color:  #0B0C10; 
}

#slide01, #slide03 {
  background-color: #1F2833; 
}

.slide {
  position: relative;
  overflow: hidden;
  height: 100vh; 
}
 .slide .pin-wrapper {
  width: 100%;
  height: 100%;
}

#slide02 .pin-wrapper {
  transform: translateY(-100%);
}

#slide03 .pin-wrapper {
  transform: translateY(-100%);
}

.scrollmagic-pin-spacer {
  position: absolute !important;
  clip: rect(auto, auto, auto, auto);
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
}

.content a {
   color: #45a29e;
   text-decoration: none;
}

.content a:hover {
  color: #66FCF1;
  transition: .3s;
  cursor: pointer;
}

.description {
  margin-top: 100px;
}

.tags li {
 list-style: none;
 display: inline-block;
 color:#C5C6C7; 
 border: 1px solid #66FCF1; 
 padding: 5px;
 margin-top: 5px;
}

.tags li:hover {
  cursor: crosshair;
  box-shadow: 0 0 10px #66FCF1;
  /*transition: 0.3s;*/
}



/* Contact page */

.contact {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 80%;
}

.contact h1 {
  text-transform: uppercase;
  color: #66FCF1;
}

.contact a {
   color: #45a29e;
   text-decoration: none;
}

.contact a:hover {
  color: #66FCF1;
  transition: .3s;
  cursor: pointer;
}

.links {
  display: block;
  text-align: center;
}
.links a {
  margin: 10px;
  display: inline-block;
  font-size: 25px;
  color: #45a29e;
  transition: .3s;
}

.links i:hover {
  color: #66FCF1;
  transition: .3s;
  cursor: pointer;
}

.links a:link {
  text-decoration: none;
}


/* Footer */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-decoration: none;
}

footer a {
   color: #C5C6C7;
   text-decoration: none;
}

footer a:link {
  text-decoration: none;
}

footer a:hover {
  color: #66FCF1;
  transition: .3s;
  cursor: pointer;
}




/* Meadia queries */

@media (min-width: 768px) and (max-width: 991px) {

  header {
    background: none;
  }
  
  .info {
    margin-top: 40%;
    margin-left: 0%;
    text-align: center;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .description {
    margin-top:10px;
    margin:5%;
  }


}
  
@media (max-width: 767px) {

  header {
    background: none;
  }
  
  .info {
    margin-top: 40%;
    margin-left: 0%;
    text-align: center;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  .description {
    margin-top:10px;
    margin:5%;
  }
}