
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
  font-family: 'Poppins', sans-serif;
}


body {
  background: #000;
  color: #C5C6C7;
}

/* Layers for GSAP */

.overlay-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #1F2833;
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background:  #0B0C10;
}


/* Home */

.head {
  font-size: 30px;
  color: #C5C6C7;
}

/*.nav {
  position: fixed;
  right: 30px;
  list-style: none;
  z-index: 200;
  margin: 0;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
}*/

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #C5C6C7;
  z-index: 1;
  font-size: 30px;
  text-align: center;
}

.highlight {
  color: #66FCF1;
}

/* Button 'EXPLORE' */

.myBtn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 166px;
  height: 45px;
  font-size: 12px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #C5C6C7;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.myBtn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.myBtn svg rect {
  fill: none;
  stroke: #66FCF1;
  stroke-width: 1;
  stroke-dasharray: 422, 0;
  -webkit-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.myBtn:hover svg rect {
  stroke-width: 5;
  stroke-dasharray: 10, 310;
  stroke-dashoffset: 33;
}

.myBtn:hover {
  color: #C5C6C7;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #66FCF1;
}

/* About */

.container {
  z-index: -1;
  overflow: hidden;
}

.heading {
  padding-top: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #66FCF1;
}

.avatar img {
  float: left;
}

.info {
  padding-top: 150px;
  margin: 50px;
}

/* Projects */

